.card {
    width: 300px;
    height: 370px;
    background: white;
    border-radius: 30px;
    box-shadow: 15px 15px 30px #bebebe,
               -15px -15px 30px #ffffff;
    transition: 0.2s ease-in-out;
    margin: 1rem 1rem;

  }
  
  .img {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: top;
    justify-content: right;
  }

  .img img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
  
  
  .text {
    margin:0.7rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: space-around;
  }
  

  
  .icon-box {
    margin-top: 1rem;
    width: 70%;
    padding: 10px;
    background-color: #e3fff9;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: left;
  }
  
  .icon-box svg {
    width: 17px;
  }
  
  .text .h3 {
    font-size: 15px;
    font-weight: 600;
    color: black;
  }
  
  .text .p {
    margin-top: 0.3rem;
    font-family: 'Lucida Sans' sans-serif;
    color: #999999;
    font-size: 13px;
  }

  .text :nth-child(3){
    color: rgb(16, 216, 123);
  }
  
  .icon-box .span{
    cursor: pointer;
    margin-left: 10px;
    font-size: 13px;
    font-weight: 500;
    color: #9198e5;
  }
  
  .card:hover {
    cursor: pointer;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.1);
  }
  
