*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.destination{
    margin: 4rem 6rem;
}

.destination h1{
    font-size: 3rem;
}
.Head{
    text-align: center;
}
.first-des{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 4.5rem;
    flex-wrap: wrap;

}

.first-des-reverse{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-top: 4.5rem;
    flex-wrap: wrap;

}

.des-text{
    width: 40%;
    text-align: justify;
    font-size: 1.1rem;
    padding-left: 0;
    padding-right: 0;
}



.des-text h2{
    padding-bottom: 1rem;
    
}

.image{
    position: relative;
    width: 55%;
    display: flex;
    justify-content: space-between;
    z-index: -99;
    margin-left: 2rem;
}

.image img{
    width: 49%;
    height: 380px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: 1px -1px 62px -18px rgba(0, 0, 0, 0.19);
}

.image img:nth-child(2){
    position: absolute;
    top: 10%;
    right: 0;
}
@media screen and (min-width: 851px) and (max-width: 990px) {
    .image img {
        width: 61%;
        margin: 0;
        }

        .image img:nth-child(2){
            position: absolute;
            top: 10%;
            right: -16%;
        }
}

@media screen and (max-width: 850px) {
    .destination {
    margin: 4rem 2rem;
    }
    .first-des{
    display: flex;
    flex-direction: column-reverse;
    margin-top: 2.5rem;
    }

    .first-des-reverse{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 2.5rem;
    }

    .des-text{
        width: 100%;
        }
        .image {
        width: 100%;
        margin: 1.8rem 0;
        }
        .image img{
        height: 250px;
        }
    }