.texts{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1.7rem 2rem;
    background-color: rgba(61, 106, 255, 0.954);
}
.texts h1{
    margin: 0.7rem 0;
}
.texts p:nth-child(1){
    font-size: 2rem
}

.texts p:nth-child(2){
    margin: 0.2rem;
    font-size: 1rem
}

.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.contact button{
    margin: 0 1rem;
    width: 180px;
    background-color: aliceblue;
    border: 2px solid rgba(135, 61, 255, 0.954);
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .texts h1 {
        font-size: 3em;
    }
    
    .texts p:nth-child(1) {
        font-size: 2em;
    }
    
    .texts p:nth-child(2) {
        font-size: 1em;
    }
    
    .contact button {
        margin: 0 2%;
        padding: 0.8em 1.6em;
        font-size: 1em;
    }
}

@media screen and (max-width: 480px) {
    .texts h1 {
        font-size: 1rem;
    }
    
    .texts p:nth-child(1) {
        font-size: 1.5rem;
    }
    
    .texts p:nth-child(2) {
        font-size: 0.8em;
    }
    
    .contact button {
        margin: 0 1%;
        padding: 0.6em 1.2em;
        font-size: 0.8em;
    }
}
